{% extends('base.html.twig') %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<style>
</style>

    <div>One shitty stuff:</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
            <th scope="row">{{ post.id }}</th>
            <td>{{post.title}}</td>
            <td>{{post.description}}</td>
    </tr>
    </tbody>
</table>
{% endblock %}
